.btn {
    background-color: #0e8847;
}

.errors {
    color: #b71c1c;
}

.notes {
    margin-top: 0;
}
.flash {
    color: #F50057;
}

.material-icons {
    color: #d81b60;
}

.input-field .prefix.active {
    color: #f06292;
}

.button-icon {
    color: #ffffff;
}