table {
    width: 90%;
    margin: auto;
    height: 60vh;
    table-layout: fixed;
}

td {
    border: solid .5px #d0d0d0;
}

th {
    background-color: #f06292;
    color: #ffffff;
    text-align: center;
}

thead th {
    border-right: solid .5px #d0d0d0;
}

tbody th {
    border-bottom: solid .5px #d0d0d0;
}

.chip {
    background-color: #ffffff;
    display: block;
    font-size: 1.25rem;
}

.chip>.s1 {
    padding:0;
}

.card-panel {
    padding: 1rem;
}
.btn {
    background-color: #0e8847;
}

.errors {
    color: #b71c1c;
}

.success {
    color: #22a95d;
}

.notes {
    margin-top: 0;
}


.material-icons {
    color: #d81b60;
}

.input-field .prefix.active {
    color: #f06292;
}

.button-icon {
    color: #ffffff;
}

.morning {
    background-color: #fce4ec;
}

.afternoon {
    background-color: #f8bbd0;
}

.evening {
    background-color: #f48fb1;
}

.day-header>p {
    display: inline;
    font-weight: 900;
    font-size: 1.25rem;
}

#next-week, #date-label {
    text-align: right;
}

#date-label {
    padding-right: 0;
}

#date-pick {
    padding-left: 0;
}

#current-week-button {
    text-transform: capitalize;
}

#planner-nav {
    margin-top: 1vh;
}

#first-day>p {
    text-align: right;
}
#last-day>p {
    text-align: left;
}
#last-day {
    margin-left: 0;
    padding-left:0;
}
#first-day {
    padding-right: 0;
}
#first-day, #last-day {
    font-style: italic;
    font-weight: 900;

}

#hyphen {
    padding: 0 1rem;
}

@media only screen and (min-width: 993px) {

    #current-custom-date {
        margin-left: 7vw;
        margin-right: 7vw;
    }

}