<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">

<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
<title>Title</title>
</head>
<body>

  <nav>
    <div class="nav-wrapper">
      <a href="#!" class="brand-logo">Logo</a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="{{ url_for('registration') }}">Register</a></li>
        <li><a href="{{ url_for('login') }}">Login</a></li>
        <li><a href="{{ url_for('logout') }}">Logout</a></li>
        <li><a href="{{ url_for('planner') }}">Planner</a></li>
        <li><a href="{{ url_for('recipes')}}">Recipes</a></li>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li><a href="{{ url_for('registration') }}">Register</a></li>
        <li><a href="{{ url_for('login') }}">Login</a></li>
        <li><a href="{{ url_for('logout') }}">Logout</a></li>
        <li><a href="{{ url_for('planner') }}">Planner</a></li>
        <li><a href="{{ url_for('recipes')}}">Recipes</a></li>
      </ul>
    </div>
  </nav>
{% block content %}


<h1>{{current_user.is_authenticated}}</h1>
{% if current_user.is_authenticated %}
  Hi {{ current_user.first_name}}!
{% endif %}

{% with messages = get_flashed_messages() %}
  {% if messages %}
    {% for message in messages %}
    <p>{{ message }}</p>
    {% endfor %}
  {% endif %}

  {% endwith %}

{% endblock %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
  <script src="/static/scripts/script.js"></script>
</body>
</html>