{% extends "layout/index.html" %}

{% block content %}
<div class="container">
  <h3>Log into your account</h3>
  <p>Don't have an account? <a href="{{ url_for('registration') }}">Register now!</a></p>
  {% include 'components/flash.html'%}


  <form action="" method="post" class="col s12" role="form">
    {{ form.csrf_token() }}

    <div class="row">
      <div class="input-field col s12">

        {{ form.email_address (type='email', class='form-control', placeholder='Email Address') }}

      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        {{ form.password (type='password', class='form-control', placeholder='Password') }}
      </div>
    </div>
    <button type="submit" class="waves-effect waves-light btn">Sign in</button>
  </form>
</div>
{% endblock %}