{% extends 'layout/index.html' %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col s3">
            <form action="{{url_for('previous')}}" method="post">
                <input type="hidden" name="first_week_day" value="{{ first_week_day }}">
                <button type="submit" class="waves-effect waves-light btn">Previous</button>
            </form>

        </div>
        <div class="col s3">
            <a href="{{url_for('planner')}}" class="waves-effect waves-light btn">Current week</a>
        </div>
        <div class="col s3">
            <form action="{{url_for('jump_to')}}" method='get' id='date_form'>
                <i class="material-icons prefix">today</i>
                <input id="jump_to" name="jump_to" type="text" class="datepicker">
                <label for="jump_to">Jump to (date) </label>
            </form>
        </div>
        <div class="col s3">
            <form action="{{url_for('next')}}" method="post">
                <input type="hidden" name="first_week_day" value="{{ first_week_day }}">
                <button type="submit" class="waves-effect waves-light btn">Next</button>
            </form>
        </div>
    </div>
</div>

<table style="width:100%;height:80%">
    <tr>
        <th></th>
        {% for day in current_week %}
        <th>
            {% if day[0].day < 10 and day[0].month < 10%}
            <p>{{ "0" ~ day[0].day ~ "/" ~ "0" ~ day[0].month ~ "/" ~ day[0].year }}</p>
            {% elif day[0].month < 10 %}
            <p>{{ day[0].day ~ "/" ~ "0" ~ day[0].month ~ "/" ~ day[0].year }}</p>
            {% elif day[0].day < 10 %}
            <p>{{ "0" ~ day[0].day ~ "/" ~ day[0].month ~ "/" ~ day[0].year }}</p>
            {% else %}
            <p>{{ day[0].day ~ "/" ~ day[0].month ~ "/" ~ day[0].year }}</p>
            {% endif %}
            <p>{{ day[1] }}</p>
        </th>

        {% endfor %}
    </tr>

    <tr>
        <th>Morning</th>
        {% set time = "Morning" %}
        {% for day in current_week %}
        <td>
            {% include 'components/table_cell.html'%}  
        </td>
        {% endfor %}
    </tr>
    <tr>
        <th>Afternoon</th>
        {% set time = "Afternoon" %}
        {% for day in current_week %}
        <td>
            {% include 'components/table_cell.html'%}  
        </td>
        {% endfor %}
    </tr>
    <tr>
        <th>Evening</th>
        {% set time = "Evening" %}
        {% for day in current_week %}
        <td>
            {% include 'components/table_cell.html'%}  
        </td>
        {% endfor %}
    </tr>
</table>
{% endblock %}