{% extends 'index.html' %}
{% block content %}
<form action="{{url_for('next')}}" method="post">
    <input type="hidden" name="first_week_day" value="{{ first_week_day }}">
    <button type="submit">Next</button>
</form>

<a href="{{url_for('planner')}}">Current week</a>

<form action="{{url_for('jump_to')}}" method='get' id='date_form'>
    <i class="material-icons prefix">today</i>
    <input id="jump_to" name="jump_to" type="text" class="datepicker">
    <label for="icon_prefix">Jump to (date) </label>
</form>

<form action="{{url_for('previous')}}" method="post">
    <input type="hidden" name="first_week_day" value="{{ first_week_day }}">
    <button type="submit">Previous</button>
</form>

<table style="width:100%;height:80%">
    <tr>
        <th></th>
        {% for day in current_week %}
        <th>
            {% if day[0].day < 10 and day[0].month < 10%}
            <p>{{ "0" ~ day[0].day ~ "/" ~ "0" ~ day[0].month ~ "/" ~ day[0].year }}</p>
            {% elif day[0].month < 10 %}
            <p>{{ day[0].day ~ "/" ~ "0" ~ day[0].month ~ "/" ~ day[0].year }}</p>
            {% elif day[0].day < 10 %}
            <p>{{ "0" ~ day[0].day ~ "/" ~ day[0].month ~ "/" ~ day[0].year }}</p>
            {% else %}
            <p>{{ day[0].day ~ "/" ~ day[0].month ~ "/" ~ day[0].year }}</p>
            {% endif %}
            <p>{{ day[1] }}</p>
        </th>

        {% endfor %}
    </tr>

    <tr>
        <th>Morning</th>
        {% for day in current_week %}
        <td>
            {% for recipe in week_recipes %}
                {% if recipe["date"] == day[0]|string and recipe["daytime"] == "Morning" %}
                    <a href="{{url_for('show_recipe', recipe_id=recipe['id'])}}">{{ recipe["name"] }}</a>
                    <a href="{{url_for('del_from_schedule', recipe_id=recipe['id'], date=recipe['date'], daytime=recipe['daytime'], first_week_day=first_week_day)}}">x</a>
                    <p>{{ first_week_day }}</p>
                {% endif %}
            {% endfor %}
        </td>
        {% endfor %}
    </tr>
    <tr>
        <th>Afternoon</th>
        {% for day in current_week %}
        <td>
            {% for recipe in week_recipes %}
                {% if recipe["date"] == day[0]|string and recipe["daytime"] == "Afternoon" %}
                <a href="{{url_for('show_recipe', recipe_id=recipe['id'])}}">{{ recipe["name"] }}</a>
                <a href="{{url_for('del_from_schedule', recipe_id=recipe['id'], date=recipe['date'], daytime=recipe['daytime'], first_week_day=first_week_day)}}">x</a>
                <p>{{ first_week_day }}</p>
                {% endif %}
            {% endfor %}
        </td>
        {% endfor %}
    </tr>
    <tr>
        <th>Evening</th>
        {% for day in current_week %}
        <td>
            {% for recipe in week_recipes %}
                {% if recipe["date"] == day[0]|string and recipe["daytime"] == "Evening" %}
                    <a href="{{url_for('show_recipe', recipe_id=recipe['id'])}}">{{ recipe["name"] }}</a>
                    <a href="{{url_for('del_from_schedule', recipe_id=recipe['id'], date=recipe['date'], daytime=recipe['daytime'], first_week_day=first_week_day)}}">x</a>
                    <p>{{ first_week_day }}</p>
                {% endif %}
            {% endfor %}
        </td>
        {% endfor %}
    </tr>
</table>

{#
{% for cursor in morning_recipes %}
{% for recipe in cursor[0] %}
<p>{{recipe.dates[]}}</p>
<p>Morning</p>
<p>{{cursor[1]}}</p>
{% endfor %}
{% endfor %}

{% for cursor in afternoon_recipes %}
{% for recipe in cursor[0] %}
<p>{{recipe.name}}</p>
<p>Afternoon</p>
<p>{{cursor[1]}}</p>
{% endfor %}
{% endfor %}

{% for cursor in evening_recipes %}
{% for recipe in cursor[0] %}
<p>{{recipe.name}}</p>
<p>Evening</p>
<p>{{cursor[1]}}</p>
{% endfor %}
{% endfor %}
#}

{% for recipe in week_recipes %}
<p>{{recipe}}</p>
{% endfor %}
{% endblock %}