{% extends 'index.html' %}
{% block content %}

<a href="{{ url_for('add_recipe')}}">Add new recipe</a>

{% with messages = get_flashed_messages() %}
{% if messages %}
{% for message in messages %}
<p>{{ message }}</p>
{% endfor %}
{% endif %}

{% endwith %}

<ul>
    {% for recipe in recipes %}

    <li><a href="{{url_for('show_recipe', recipe_id=recipe._id)}}">{{ recipe.name }}</a>
        <a href="{{url_for('delete_recipe', recipe_id=recipe._id)}}">Delete</a>
        <a href="{{url_for('edit_recipe', recipe_id=recipe._id)}}">Edit</a></li>


    {% endfor %}

</ul>
{% endblock %}