{% extends 'layout/index.html' %}
{% block content %}

{% for recipe in this_recipe %}
<h1>{{ recipe.name }}</h1>
<img src="{{ url_for('static', filename = 'images/recipe-images/' + recipe.image)}}" alt="recipe image">
<h2>Ingredients</h2>
<ul>
{% for ingredient in recipe.ingredients %}
    <li>{{ ingredient }}</li>
    
{% endfor %}
</ul>
<p>Servings: {{ recipe.servings }}</p>

<div>
    <h2>Instructions</h2>
    <ul>
        {% for instruction in recipe.instructions %}

        <li>{{ instruction }}</li>

        {% endfor %}
    </ul>
    
</div>

<h3>Tags</h3>
{% for tag in recipe.tags %}
<a href="{{ url_for('search_tag', tag=tag)}}">{{tag ~ ";"}}</a>
{% endfor %}

{% include 'components/recipe_actions.html'%} 
{% endfor %}


{% include 'components/modal.html'%} 

{% endblock %}