<div class="scheduled-recipes">
    {% for recipe in week_recipes %}
    {% if recipe["date"] == day[0]|string and recipe["daytime"] == time %}
    <div class="scheduled-recipe-line chip row">
        <div class="col s10">
            <a class="truncate" href="{{url_for('show_recipe', recipe_id=recipe['id'])}}">{{ recipe["name"] }}</a>
        </div>
        <div class="col s1">
            <a
                href="{{url_for('del_from_schedule', recipe_id=recipe['id'], date=recipe['date'], daytime=recipe['daytime'], first_week_day=first_week_day)}}"><i
                    class="material-icons right">clear</i></a>
        </div>
    </div>
    {% endif %}
    {% endfor %}
</div>